# contents of .gitignore

# specific ignores
*build*/
install
.vscode
source/*
ecbundle
/env.sh

# definition file related
documents/
work/
benchmark/
observations/
#clim/
#forcing/

# example script to run ecLand on atos hpc
ecland_run.sh

# cython compiled
tools/create_forcing/scripts/osm_pyutils/cython_ext.c
tools/create_forcing/scripts/osm_pyutils/cython_ext.cpython-311-x86_64-linux-gnu.so

#test temporaries
tests/ifsbench/ifsbench_ecland.egg-info
